html, body {
    margin: 0;
    height: 100%;
}

#main-map
{
    /*max-width: 600px;*/
    height: 100%;
    z-index: 0;
}

.hidden {
    display: none;
}

.expand-toggle {
    background-color: cadetblue;
    padding: 3px 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.expand-toggle:hover {
    cursor: pointer;
}

.toolbox
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.75);
    color: whitesmoke;
    padding: 25px;
}

.commands
{
}

.command
{
    max-width: 500px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}